/* ======================== CORPO ==================== */
body {
  padding: 20px;
  background-color:white;
}
/* ===================================================== */

/* ======================== IMAGEM DO PERFIL ==================== */
.imagem {
  width: 60px;
}

.imagem2 {
  width: 60px;
  position: absolute;
  left: 76.27%;
  right: 4.27%;
  margin-top: 12%;
}

/* ===================================================== */

/* ======================== BOTÃO VOLTAR ==================== */
#voltar img {
  width: 25px;
  height: 25px;
  margin-left: -12px;
  margin-top: -18px;
}
/* ===================================================== */

/* ======================== CAIXA DE MENSAGEM ==================== */
.text {
  position: absolute;
  width: 230px;
  height: 66px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0px 6px 6px 6px;  
  margin-left: 70px;
  margin-top: -60px;
}

.text2 {
  text-align: right;
  position: absolute;
  left: 16px;
  top: 40px;
  width: 230px;
  height: 66px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0px 6px 6px 6px;  
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h2 {
  margin-left: 50px;
  text-align: center;
  margin-top: -55px;
  font-size: 35px;
  margin-right: 50px;
  font-weight: bold;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */





