/* ======================== CORPO ==================== */
body {
  background-color:white;
}
/* ===================================================== */

/* ======================== IMAGEM DO PERFIL ==================== */
.imagem {
  width: 60px;
}
/* ===================================================== */

/* ======================== BOTÃO VOLTAR ==================== */
#voltar img {
  width: 32px;
  height: 32px;
  margin-left: -20px;
  margin-top: 5px;
}
/* ===================================================== */

/* ======================== ESTRELAS DA AVALIAÇÃO ==================== */
.star {
position: absolute;
width: 96px;
height: 45px;
left: 256px;
top: 14px;
}

.star2 {
position: absolute;
width: 96px;
height: 45px;
left: 256px;
top: 16px;
}
/* ===================================================== */

/* ======================== TEXTO DA MENSAGEM ==================== */
.text {
  margin-left: 64px;
  margin-top: -5px;
}
/* ===================================================== */

/* ======================== NOME DO PERFIL ==================== */
h2 {
  margin-top: -55px;
  font-size: 20px;
  margin-left: 65px;
  font-weight: bold;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h1{
  margin-right: 10px;
  color: black;
  text-align: center;
  margin-top: -10%;
  font-size: 50px;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */






