/* ======================== CORPO ==================== */
body {
  background-color:white;
}
/* ===================================================== */

/* ======================== IMAGEM DO PERFIL ==================== */
.imagem {
  width: 60px;
}
/* ===================================================== */

/* ======================== MENU ==================== */
#menu ul {
    overflow: hidden;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding:10px;
    margin:0px;
    background-color: #badaf3;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 8px 17.5px;
    display: inline-block;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color:white;
    color: white;
    border-top:3px solid #28386b;
    border-radius:5px;
}
/* ===================================================== */

/* ======================== TEXTO DA MENSAGEM ==================== */
.text {
  margin-left: 64px;
  margin-top: -5px;
}
/* ===================================================== */

/* ======================== NOME DO PERFIL ==================== */
h2 {
  margin-top: -55px;
  font-size: 20px;
  margin-left: 65px;
  font-weight: bold;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */

/* ======================== BOTÃO VOLTAR ==================== */
#voltar img {
  width: 32px;
  height: 32px;
  margin-left: -20px;
  margin-top: 5px;
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h1{
  margin-right: 10px;
  color: black;
  text-align: center;
  margin-top: -10%;
  font-size: 50px;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */

/* ======================== BOTÃO ABRIR MENSAGEM ==================== */
.button {
  margin-top: -60px;
  margin-left: 140px;
}

.btn-dark {
  margin-left: 95px;
  background-color: grey;
  color:black;
  margin-top: 20px;
}
/* ===================================================== */






