/* ======================== CORPO ==================== */
body {
  padding: 20px;
  background-color: white;
}
/* ===================================================== */

/* ====================== ÍCONE DE FOTO ================== */
.imagem {
  margin-left: 60px;
  margin-top: 10px;
}
/* ===================================================== */

/* ====================== BOTÃO VOLTAR ================== */
#voltar img {
  width: 32px;
  height: 32px;
  margin-left: -56px;
  margin-top: -28px;
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h1{
  margin-top: -10px;
  text-align: center;
  color: black;
  font-size: 48px;
  font-family:Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}
/* ===================================================== */

/* ======================= BOTÕES ======================= */
.btnEscuro {
  margin-left: 40px;
  margin-top:100px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#28386b;
	border-radius:14px;
	border:2px solid #badaf3;
	display:inline-block;
	cursor:pointer;
	color:#badaf3;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding:15px 30px;
  text-transform: uppercase;
}
.btnEscuro:active {
  box-shadow: none;
	position:relative;
}
.btnEscuro:hover{
 color: #badaf3;
}
a.btnEscuro:link{
  text-decoration:none;
}
/* ===================================================== */


        

