/* ======================== CORPO ==================== */
body {
  background-color: white;
}
/* ===================================================== */

/* ======================== LOGO DO APP ==================== */
img {
  margin-top: 10px;
  margin-left: -12px;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h1{
position: absolute;
width: 9px;
height: 40px;
left: 150px;
top: -30px;
font-family: Comfortaa;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 40px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
color: #000000;
}
/* ====================================================== */

/* ======================= BOTÕES ======================= */
.col-xs-6{
 text-align : center;
 margin-top: 50%;
}

.btnClaro{
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#badaf3;
	border-radius:14px;
	border:2px solid #28386b;
	display:inline-block;
	cursor:pointer;
	color:#28386b;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding:10px 36px;
  text-transform: uppercase;
}
.btnClaro:active {
  box-shadow: none;
	position:relative;
}
.btnClaro:link{
  text-decoration:none;
}

.btnEscuro {
  margin-top: -1px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#28386b;
	border-radius:14px;
	border:2px solid #badaf3;
	display:inline-block;
	cursor:pointer;
	color:#badaf3;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding: 11px 25px;
  text-transform: uppercase;
}
.btnEscuro:active {
  box-shadow: none;
	position:relative;
}
.btnEscuro:hover{
  color:#badaf3;
}
.btnEscuro:link{
  text-decoration:none;
}
/* ====================================================== */
