/* ======================== CORPO ==================== */
.box {
  transform: translate(-50%,-50%);
  margin-left: 168px;
  position: absolute;
  top: 54%;
  width: 33rem;
  padding: 14px;
  box-sizing: border-box;
  border: 5px solid #badaf3;
  border-radius: 15px;
}
/* ===================================================== */

/* ====================== BOTÃO VOLTAR ================== */
#voltar img {
  width: 32px;
  height: 32px;
  margin-left: -320px;
  margin-top: 8px;
}
/* ====================================================== */

/* ======================== TÍTULO ==================== */
h1{
  margin-right: 10px;
  color: #28386b;
  text-align: center;
  margin-top: 2%;
  font-size: 50px;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ======================================================= */ 


/* ======================= BOTÕES ======================= */

.col-xs-12{
 text-align : center;
 padding: 10px;
}

.btnClaro{
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#badaf3;
	border-radius:14px;
	border:2px solid #28386b;
	display:inline-block;
	cursor:pointer;
	color:#28386b;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding:8px 42px;
  text-transform: uppercase;
}
.btnClaro:active {
  box-shadow: none;
	position:relative;
}
.btnClaro:link{
  text-decoration:none;
}

.btnEscuro {
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#28386b;
	border-radius:14px;
	border:2px solid #badaf3;
	display:inline-block;
	cursor:pointer;
	color:#badaf3;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding:11px 35px;
  text-transform: uppercase;
}
.btnEscuro:active {
  box-shadow: none;
	position:relative;
}
.btnEscuro:hover{
  color:#badaf3;
}
.btnEscuro:link{
  text-decoration:none;
}
/* ====================================================== */