/* ======================== CORPO ==================== */
body {
  background-color: white;
}
/* ===================================================== */

/* ======================== BOTÃO VOLTAR ==================== */
#voltar img {
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -48px;
}
/* ===================================================== */

/* ======================== TÍTULO ==================== */
h1{
  margin-right: 10px;
  color: black;
  text-align: center;
  margin-top: -20%;
  font-size: 50px;
  font-family: Comfortaa;
  letter-spacing: -0.015em;
}
/* ===================================================== */

/* ======================== IMAGEM DO PERFIL ==================== */
.imagem {
  width: 50px;
  height: 50px;
  margin-left: 500px;
}
/* ===================================================== */

/* ======================== BOTÕES ==================== */
.btns {
  margin-top: 10%;
}

.col-xs-12 {
  margin-top: 2%;
}

.btnEscuro {
  text-align: center;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#28386b;
	border-radius:14px;
	border:2px solid #badaf3;
	display:block;
	color: #badaf3;
	font-family:Confortaa;
	font-size:15px;
	font-weight:bold;
	padding:7px 49px;
  text-transform: uppercase;
}
.btnEscuro:active {
  box-shadow: none;
	position:relative;
}
.btnEscuro:hover {
  color: #badaf3;
}
a.btnEscuro:link{
  text-decoration:none;
}

.btnClaro {  
  text-align: center;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#badaf3;
	border-radius:14px;
	border:2px solid #28386b;
	display:block;
	cursor:pointer;
	color:#28386b;
	font-family:Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding: 7px 49px;
  text-transform: uppercase;
}
.btnClaro:active {
  box-shadow: none;
	position:relative;
}
.btnClaro:link{
  text-decoration:none;
}
/* ===================================================== */


        
