body {
  padding: 15px;
  background-color: white;
}

.row{
text-align : center;
margin-top: 2%;
}

#voltar img {
  width: 25px;
  height: 25px;
  margin-left: -90px;
  margin-top: -130px;
}

h1{
  text-align: center;
  color: black;
  margin-top: -2%;
  margin-left: 100px;
  height: 25px;
  font-size: 45px;
  font-family:Comfortaa;
  font-style: normal;
  font-weight: normal;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
}

.imagem{
  position: center;
  margin-left: 40px;
  margin-top: 30px;
  width:250px;
  height: 200px;
}

/*BOTÕES--------------------------------------------*/
.ButtonBranco {
  margin-top: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#badaf3;
	border-radius:14px;
	border:2px solid #28386b;
	display:inline-block;
	color: #28386b;
	font-family: Comfortaa;
	font-size:15px;
	font-weight:bold;
	padding:14px 40px;
  text-transform: uppercase;
}
.ButtonBranco:active {
  box-shadow: none;
	position:relative;
}
a.ButtonBranco:link{
  text-decoration:none;
}

.ButtonPreto {
  margin-left: -85px;
  margin-top: 50px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
	background-color:#28386b;
	border-radius:14px;
	border:2px solid #badaf3;
	display:inline-block;
	color: #badaf3;
	font-family:Confortaa;
	font-size:15px;
	font-weight:bold;
	padding:15px 30px;
  text-transform: uppercase;
}
.ButtonPreto:active {
  box-shadow: none;
	position:relative;
}
a.ButtonPreto:link{
  text-decoration:none;
}
/*------------------------------------------------*/

/* Menu */
#pesquisar img {
  width: 62px;
  height: 62px;
  margin-left: -36px;
  margin-top: -7px;
}

.menu {
  margin-top: 5%;
}

#chat img {
  width: 55px;
  height: 55px;
  margin-left: -20px;
  margin-top: -2px;
}

#inicio img {
  width: 60px;
  height: 60px;
  margin-left: -16px;
  margin-top: -8px;
}

#notificacao img {
  width: 27px;
  height: 27px;
  margin-left: 18px;
  margin-top: 10px;
}

#perfil img {
  width: 56px;
  height: 56px;
  margin-top: -2px;
  margin-left: 5px;
}

.btn-block {
  background-color:white;
  width: 62px;
  height: 62px;
  margin-left: 15px;
  margin-top: 50px;
}
